.panda-bg{
    background-color:#feeae9;
}
.categories img{
    width: 100px;
}
.panda-buy-btn{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border:none;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}